@-webkit-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes move {
    from {
        background-position: 0  0;
    }
    to {
        background-position: -2400px 0;
    }
}
@keyframes move {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2400px 0;
    }
}

body {
    background-color: #F0FFFF;
    background-image: url("../../static/picture/cloud.png");
    background-position: 0 0;
    background-size: contain;
    -webkit-animation: move 100s linear infinite;
    animation: move 100s linear infinite;
    /*padding-left: 100px;*/
    /*padding-right: 100px;*/
    /*padding-top: 50px;*/
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
}

h1 {
    font-family: 'Superior title', 'Times New Roman', sans-serif;
    padding-top: 70px;
    color: black;
    font-size: 72px;
    line-height:10px;
    font-weight: 400;
    animation-name: fade;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    float:left
}

.introduction {
    position: fixed;
    top: 250px;
    max-width: 50%;
    margin-bottom: 10px;
    opacity: 1;
    font-family: "PT Mono",sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    animation-name: fade;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 1ms;
    float:left
}

header {
    text-align: right;
}

.header-link {
    position: relative;
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
    font-family: "PT Mono",sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
}

a {
    color: #222;
    text-decoration: none;
    transition: opacity 200ms ease;
    display: inline-block;
}

.header-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    display: inline-block;

}

.header-link:hover::before {
    transform: scaleX(80%);

}

.index_bullet_journal_1 {
    /*height: 450px;*/
    /*width: 450px;*/
    height: 55%;

    border-radius: 10px;
    padding-top: 70px;

    float:right;
    animation-name: fade;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 1ms;

    position: absolute;
    /*left: 800px;*/
    left: 63%;
    z-index: -1;

    transition-duration: 1s;
}

.index_bullet_journal_2 {
    /*height: 450px;*/
    /*width: 450px;*/
    height: 55%;

    border-radius: 10px;
    padding-top: 50px;
    float:right;

    animation-name: fade;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 1ms;

    position: absolute;
    /*left: 940px;*/
    left: 65%;
    z-index: -2;
}

.index_bullet_journal_1:hover {
    transform: translatex(-100px);
    transition-duration: 1s;
}

footer {
    position: fixed;
    right: 7%;
    bottom: 2%;
    width:100%;
    text-align: right;
}

.pictureLink {
    font-family: "PT Mono",sans-serif;
    font-size: 1px;
    position: absolute;
    left:63%;
    bottom:24%

}






