<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Luna Wang</title>
</head>
<body>
<header>
    <a href="project.html" class="header-link">Project</a>
    <a href="BulletJournal.html" class="header-link">Bullet Journal</a>
</header>

<img src="../static/picture/BulletJournal_1.jpeg" alt="bullet journal" class="index_bullet_journal">
<h1> Hello, I am Luna.</h1>
<p class="introduction">I am a third-year student at University of British Columbia.</p>
</body>
</html>
