<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/work.css">
    <title>Me</title>
</head>
<body>
<header>
    <a href="../index.html" class="header-link">Home</a>
    <a href="../templates/work.html" class="header-link">Work</a>
    <a href="../templates/me.html" class="header-link">Me</a>
    <a href="../templates/contact.html" class="header-link">Get in Touch</a>
</header>
<h1>
    Me.
</h1>
<div>
    <p>
        Hi there! I am Luna👋🏻
    </p>
    <p>
        I started studying computer science quite late. I never expected myself to do anything involved in coding until
        I took COMM 205 in the summer term of my first year. It is a required course about Excel and RStudio for my BCOM
        degree. Surprisingly, I ended up finding that coding is quite interesting, and I decided to switch to the BUCS program
        after my second year at Sauder. I am happy that I enjoyed all the CPSC courses I took last year. I built some class
        projects, went to my first hackathon with my friends, and now working on this personal website :)
    </p>
    <p>
        I took my first year online because of COVID. During my entire first year, I didn't go to any school activities
        or join any clubs. Maybe that is because all the events are online or the 15 hours time differences. I know
        these sounds like excuses.
    </p>
    <p>
        When I came on campus last year, I started getting involved in lots of campus activities and programs.
        I participated in the Summer Abroad Program and studied Digital Archive Design at UC Berkeley. I am also in
        the UBC Sauder School of Business Commerce Scholars Program with my mentor Dr. Mi Zhou and plan to focus my
        research on machine learning and data visualization. I also worked for both the Commerce Undergraduate Society
        and the Computer Science Student Society. Moreover, I volunteered in the Vancouver Summer Program as a cultural
        ambassador, helping 60 Sauder summer exchange students to explore UBC and Vancouver in general. Next term,
        I will be in the UBC CPSC Tri-mentoring program as a mentee, working with an industry mentor and a junior student.
    </p>
    <p>
        Regarding my next step, I plan to apply for the science co-op this fall and launch my first co-op term next year.
        I hope I can get my first research assistant job with my mentor Dr. Mi Zhou in the following winter term. Besides,
        I really want to learn more about photography!
    </p>
    <p>
        <b><em>Please don't hesitate to contact me if you are interested in my work, bullet journal, or just want to make friends!</em></b>
    </p>
</div>
<br>
<div>
    <a href="https://drive.google.com/file/d/1ukhDJKH0Ek-5Ao6RFEKooQMIqrcYprKh/view?usp=sharing"><h2>My Resume</h2></a>
</div>
<br>
<div>
    <h2>My Experiences</h2>
    <div>
        <b>IT Coordinator</b>, <i>COMM Collection by the UBC Commerce Undergraduate Society</i>
        <ul>
            <li>
                Updated the launched merchandise and processed online payment on the website through Shopify admin and the
                template language Liquid
            </li>
            <li>
                Developed and improved over 6 components on the website such as the newsletter section and “about us” page to
                improve user experience
            </li>
            <li>
                Built the website to correspond to the merchandise design by collaborating with the graphic design team and
                provided IT support for 3 different teams
            </li>
        </ul>
    </div>
    <div>
        <b>VSP Cultural Ambassador</b>, <i>UBC Sauder School of Business,</i> University of British Columbia
        <ul>
            <li>
                Leaded 60 summer exchange students from over 20 different countries as liaisons during their 4 weeks in Vancouver
            </li>
            <li>
                Participated in events as a volunteer including Orientation, City Tours, and Sports Day, and introduced the First
                Nation culture to all students
            </li>
            <li>
                Responded to students’ questions and general inquiries about campus life and event details

            </li>
        </ul>
    </div>
    <div>
        <b>Internal Officer</b>, <i>UBC Computer Science Student Society</i>
        <ul>
            <li>
                Manage the CSSS lounge/office
            </li>
        </ul>
    </div>
    <div>
        <b>Corporate Relation Associate</b>, <i>UBC Chinese Debate League</i>
        <ul>
            <li>
                Improved the relationship with club sponsors by preparing monthly sponsor meetings and designing
                customized sponsorship package
            </li>
            <li>
                Raised over $2000 sponsorship by optimizing club promotion plan and collecting sponsors’ feedback to
                develop a long-term club strategic plan
            </li>
        </ul>
    </div>
    <div>
        <b>Asian Studies Chinese Volunteer</b>, <i>UBC Chinese Language Program</i>
        <ul>
            <li>
                Increased students’ Chinese speaking skills by practicing Chinese conversation based on TA instructions
                with 12 students enrolled in different level Chinese courses
            </li>
            <li>
                Collaborated with over 100 volunteers from different time zone
            </li>
        </ul>
    </div>
</div>
</body>
</html>