<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/work.css">
    <title>Me</title>
</head>
<body>
<header>
    <a href="../index.html" class="header-link">Home</a>
    <a href="../templates/work.html" class="header-link">Work</a>
    <a href="../templates/me.html" class="header-link">Me</a>
    <a href="../templates/contact.html" class="header-link">Get in Touch</a>
</header>
<h1>
    Me.
</h1>
<div>
    <p>
        Hi there! I am Luna👋🏻
    </p>
    <p>
        I started studying computer science quite late. I never expected myself to do anything involved in coding until
        I took COMM 205 in the summer term of my first year. It is a required course about Excel and RStudio for my BCOM
        degree. Surprisingly, I ended up finding that coding is quite interesting, and I decided to switch to the BUCS program
        after my second year. I am happy that I enjoyed all the CPSC courses I took. I built some interesting
        projects, went to my first hackathon with my friends, and now working on this personal website :)
    </p>
    <p>
        I took my first year online because of COVID. When I came to campus in my second year, I started getting involved in lots of campus activities and programs.
        I have worked as a teaching assistant, research assistant, club IT coordinator, cultural ambassador, went for a
        Summer Abroad Program at UC Berkeley, and just finished my intern at SAP Vancouver.
    </p>
    <p>
        Currently, I am studying full-time at UBC, and working as a part-time TA for CPSC 121 Models of Computation. In my free time,
        I like playing Lego, and I am also learning Japanese in a language exchange program at UBC
        XD
    </p>
    <p>
        <b><em>Please don't hesitate to contact me if you are interested in my work, bullet journal, or just want to make friends!</em></b>
    </p>
</div>
<br>

<br>
<div>
    <h2>My Experiences</h2>
    <div>
        <b>Agile Developer Co-op</b>, <i>SAP</i>
        <ul>
            <li>
                Managed branch cutting, patch creation, and binary releases, utilizing Jenkins for biweekly deployment and validation across more than 10 landscapes in 7 regions; maintained SAP Analytics Hub services by implementing upgrades to service templates and monitoring Dynatrace
            </li>
            <li>
                Experienced in automating tests with Selenium WebDriver and TypeScript, enhancing bug detection and dynamic element management to bolster application stability and performance
            </li>
            <li>
                Upgraded the Analytics Hub from Java 8 to Java 17, which included updating the pipeline, Docker base images and testing of system endpoints to ensure compatibility system robustness
            </li>
        </ul>
    </div>
    <div>
        <b>Undergraduate Research Assistant</b>, <i>UBC Sauder School of Business</i>
        <ul>
            <li>
                Analyzed teaching evaluations generated by Sauder students, using Python Pandas to identify and develop 10+ variables for assessment
            </li>
            <li>
                Worked with Dr. Mi Zhou in a research project analyzing 20,000 AI-generated images (created using Midjourney, DALL-E, and
                StableDiffusion) representing various occupations for a comprehensive study of facial features.
            </li>
            <li>
                Leveraged face detection API for detailed analysis of 12 facial attributes, including gender, race, emotions, and skin health. Utilized
                matplotlib.pyplot and bokeh for data visualization to effectively present the quantitative findings.
            </li>
        </ul>
    </div>
    <div>
        <b>Undergraduate Teaching Assistant</b>, <i>UBC Department of Computer Science</i>
        <ul>
            <li>
                Assisted professors during lectures and labs for CPSC121 Models of Computation and CPSC221 Basic Algorithms and Data Structures
            </li>
            <li>
                Guided over 20 students in lectures and labs on circuit development, computer architecture, and algorithm structures
            </li>
        </ul>
    </div>
    <div>
        <b>IT Coordinator</b>, <i>COMM Collection by the UBC Commerce Undergraduate Society</i>
        <ul>
            <li>
                Built and maintained merchandise website for COMM Collection by UBC Commerce Undergraduate Society with 8
                transactions per day and visitors of up to 1000 per month
            </li>
            <li>
                Updated merchandise and processed online payments on the website through Shopify admin and added personalized
                design by using template language Liquid
            </li>
            <li>
                Redesigned website graphics and theme in collaboration with stakeholders, refining user stories and specifications
                with logistics, graphic design, and photography departments
            </li>
        </ul>
    </div>
    <div>
        <b>VSP Cultural Ambassador</b>, <i>UBC Sauder School of Business,</i> University of British Columbia
        <ul>
            <li>
                Led 60 summer exchange students from over 20 different countries as liaisons during their 4 weeks in Vancouver
            </li>
            <li>
                Participated in events as a volunteer including Orientation, City Tours, and Sports Day, and introduced the First
                Nation culture to all students
            </li>
            <li>
                Responded to students’ questions and general inquiries about campus life and event details

            </li>
        </ul>
    </div>
    <div>
        <b>Internal Officer</b>, <i>UBC Computer Science Student Society</i>
        <ul>
            <li>
                Manage the CSSS lounge/office
            </li>
        </ul>
    </div>
    <div>
        <b>Corporate Relation Associate</b>, <i>UBC Chinese Debate League</i>
        <ul>
            <li>
                Improved the relationship with club sponsors by preparing monthly sponsor meetings and designing
                customized sponsorship package
            </li>
            <li>
                Raised over $2000 sponsorship by optimizing club promotion plan and collecting sponsors’ feedback to
                develop a long-term club strategic plan
            </li>
        </ul>
    </div>
    <div>
        <b>Asian Studies Chinese Volunteer</b>, <i>UBC Chinese Language Program</i>
        <ul>
            <li>
                Increased students’ Chinese speaking skills by practicing Chinese conversation based on TA instructions
                with 12 students enrolled in different level Chinese courses
            </li>
            <li>
                Collaborated with over 100 volunteers from different time zone
            </li>
        </ul>
    </div>
</div>
</body>
</html>