<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/work.css">
    <title>Work</title>
</head>
<body>
<header>
    <a href="../index.html" class="header-link">Home</a>
    <a href="../templates/work.html" class="header-link">Work</a>
    <a href="../templates/me.html" class="header-link">Me</a>
    <a href="../templates/contact.html" class="header-link">Get in Touch</a>
</header>
<h1>
    Coding
</h1>
<br>
<div>
    <div>
        <h2><a href="https://github.com/lunawwy01/tinyarchive">Tinyarchiv📋</a></h2>
        <p>This is a digital archive project I built during my summer abroad at UC Berkeley. It's an online tiny kitchenware
            archive including an online exhibit based on the web framework Django to displace over 8 objects with their
            metadata and 3D models.</p>
        <p>Here are some of the webpages and 3D models our group included in this digital archive.</p>
    </div>

    <div class="sketchfab-embed-wrapper"> <iframe title="Tajine" height="300px" width="550px" frameborder="0" allowfullscreen mozallowfullscreen="true"
                                                  webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
                                                  xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered
                                                  web-share src="https://sketchfab.com/models/0379b3301c1f447297961f8fa403f371/embed"> </iframe>
    </div>
    <div class="tinyarchiveImage">
        <img src="../static/picture/tinyarchive_sample_1.png" alt="tinyarchive_homepage">
        <img src="../static/picture/tinyarchive_sample_2.png" alt="tinyarchive_about">
    </div>
    <p>If you are interested in this archive, feel free to run this project on your localserver! </p>
</div>


<div>
    <h2><a href="https://github.com/lunawwy01/WhatToEatToday">What to eat today 🍚🥢</a></h2>
</div>
</body>
</html>