<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/work.css">
    <title>Work</title>
</head>
<body>
<header>
    <a href="../index.html" class="header-link">Home</a>
    <a href="../templates/work.html" class="header-link">Work</a>
    <a href="../templates/me.html" class="header-link">Me</a>
    <a href="../templates/contact.html" class="header-link">Get in Touch</a>
</header>
<div>
<h1>
    Coding
</h1>
    <br>
    <div>
        <div>
            <h2><a href="https://github.com/lunawwy01/tinyarchive">Tinyarchiv📋</a></h2>
            <p>This is a digital archive project I built during my summer abroad at UC Berkeley. It's an online tiny kitchenware
                archive including an online exhibit based on the web framework Django to displace over 8 objects with their
                metadata and 3D models.</p>
            <p>In the exhibit, we include 4 different chopsticks which seem functionally indistinguishable.
                We demonstrated the history and cultural differences behind them. </p>
            <p>Here are some of the webpages and 3D models our group included in this digital archive.</p>
        </div>

        <div class="sketchfab-embed-wrapper"> <iframe title="Tajine" height="300px" width="550px" frameborder="0" allowfullscreen mozallowfullscreen="true"
                                                      webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
                                                      xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered
                                                      web-share src="https://sketchfab.com/models/0379b3301c1f447297961f8fa403f371/embed"> </iframe>
        </div>
        <div class="tinyarchiveImage">
            <img src="../static/picture/tinyarchive_sample_1.png" alt="tinyarchive_homepage">
            <img src="../static/picture/tinyarchive_sample_2.png" alt="tinyarchive_about">
        </div>
        <p>If you are interested in this archive, feel free to run this project on your localserver! </p>
        <p>Fun Fact: The other 3 people in my group are all from non-STEM majors and have no coding experience before, but
            I think we had great teamwork! One girl who is an English major helped us do all the research, writing, and
            history staff in the exhibit. That's helped a lot cause I am really bad at writing... Really enjoyed working with them!
        </p>
    </div>
    <br>

    <div>
        <h2><a href="https://github.com/lunawwy01/WhatToEatToday">What to eat today 🍚🥢</a></h2>
        <p>This is a Java desktop application to help users decide what to eat today, allowing the user to perform 6
            different functions such as adding lists, deleting lists, choosing categories, and random choosing. Users are
            also able to save their data with the JSON library, helping users keep track of the restaurant list they construct.</p>
        <div class="whatToEatImage">
            <img src="../static/picture/whatToEat_sample_1.png" alt="whatToEat_main">
            <img src="../static/picture/whatToEat_sample_2.png" alt="whatToEat_main">
        </div>
        <p>This is actually my very first cs project that I developed for the class CPSC 210 at UBC. I know it looks a little bit
            ugly, but I'm still proud of it XD</p>
    </div>
    <br>

    <div>
        <h2><a href="https://github.com/wangltsss/COMMKnows">COMMKnows</a></h2>
        <p>
            This is a project from the 48-hour Hackathon Rookie Hacks 2 held by <a href="https://mlh.io/"> Major League Hacking</a>.
            This website will select 6 worldwide commerce-related news each day. You can see the title, a descriptive image, and a brief
            introduction for each one. If you are getting interested in a particular piece of news, clicking the URL provided
            at the end of each news will direct you to the original news source.
        </p>
        <p>
            You can visit our website <a href="http://47.254.71.93/COMMKnows/">here</a>!
        </p>
        <div class="commknowsImage">
            <img src="../static/picture/COMMKnows_sample_1.png" alt="COMMKnows">
        </div>
        <p>
            I worked on this project with one of my friends Shawn who is from McMaster University. He is a great developer
            and always helped me out with coding issues. Go check out his <a href="https://www.linkedin.com/in/shawn-wang-b9372b1b7/">
            LinkedIn</a> and <a href="https://github.com/wangltsss">GitHub</a>!
        </p>
    </div>
</div>
<br>
<div>
    <h1 id="bullet journal">Bullet Journal</h1>
    <p>
        In my free time, I like writing bullet journals/planners. I also called them Techo, a word from the Japanese word 手帳.
        I also like to decorate them with washi(和紙) tape and write some reflections for the day.
    </p>
    <div class="workBulletJournal">
        <img src="../static/picture/BulletJournal_2.jpeg" alt="BulletJournal_2">
        <img src="../static/picture/BulletJournal_3.jpeg" alt="BulletJournal_3">
        <img src="../static/picture/BulletJournal_4.jpeg" alt="BulletJournal_4">
        <img src="../static/picture/BulletJournal_5.jpeg" alt="BulletJournal_5">
        <img src="../static/picture/BulletJournal_6.jpeg" alt="BulletJournal_6">
        <img src="../static/picture/BulletJournal_7.jpeg" alt="BulletJournal_7">
    </div>
    <p>
        Here are some of my journal collection, and the planner I am currently used for 2022.
    </p>
    <div>
        <img src="../static/picture/BulletJournal_8.jpeg"  alt="BulletJournal_8">
        <img src="../static/picture/BulletJournal_9.jpeg"  alt="BulletJournal_9">
    </div>
    <p>
        I am also working on a 5-year Techo. Each daily page of this techo lines up the same date across five years for
        users to write each entry side by side. I started writing it in 2020, which is the year I finished high school
        and entered university. I hope this techo will help me to record my entire journey in university.
    </p>
</div>

</body>
</html>